<h1>{{title}}</h1>
<p>welcome to {{title}}</p>

if else block in handlebars ?
{{#if arr}}
<p>condition is true.</p>
{{else}}
<p>condition is false.</p>
{{/if}}

loop itration in handlebars? </br>
{{#each arr}}
  {{this}}
{{/each}}

</br>loop iteration with key value pair...</br>
{{#each arr as |value key|}}
  index= {{key}}
  value= {{value}}</br>
{{/each}}


